<<<<<<< HEAD
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 0fcf709cac02cd9b47be8688d3b837c11c044ec5
}