<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
}
div.container {
    max-width: 1000px;
    margin: 30px auto;
    /* text-align: center; */
=======
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
}
div.container {
    max-width: 1000px;
    margin: 30px auto;
    /* text-align: center; */
>>>>>>> 0fcf709cac02cd9b47be8688d3b837c11c044ec5
}