.filters {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}

.locations, .amenities {
  width: 25%;
  height: 100%;
  padding: 20px;
}

.locations h
